


@media only screen and (min-width: 600px) {
    .footer {
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        color: #ffffff;
        text-decoration: none;
    }

    .footer-content {
        background-color: #8e744f;
        column-count: 4;
        padding: 2.5%;
    }

    .footer-content__link {
        display: block;
        text-decoration: none;
        color: white;
        padding-left: 10%;
        padding-top: 2.5%;
    }

    .footer-copyright {
        background-color: #1d1d1d;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .footer-copyright__text {
        font-family: 'Open Sans', sans-serif;
        color: #ffffff;
        text-decoration: none;
        padding-left: 5%;
    }
}