/*START - use to show containers*/
/* .explanation-container {
    background-color: green;
}
.order-form__customer-fields {
    background-color: lightblue;
}

.order-form__order-fields {
    background-color: #ffffff;
}
.order-form__bi-column--left {
    background-color: pink;
}
.order-form__bi-column--right {
    background-color: lightgray;
}

.order-form__quad-column1 {
    background-color: red;
}
/*.order-form__quad-column2 {
    background-color: orange;
}
.order-form__quad-column3 {
    background-color: yellow;
}
.order-form__quad-column4 {
    background-color: green;
}
.order-form__button-row {
    background-color: black;

}

.add-section {
    background-color: darkslategrey;
}

.remove-row__section {
    background-color: #000;
}*/
/*END - use to show containers*/

.general-heading {
    font-family: 'Indie Flower', cursive;
    color: #8b9e98;
    text-align: center;
    font-size: 50px;
 }

.order-form__customer-heading {
    font-family: 'Indie Flower', cursive;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding: 30px;
}

.order-form__order-heading {
    font-family: 'Indie Flower', cursive;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 90px;
    padding-bottom: 30px;
}

.explanation-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.explanation-container__text {
    font-family: 'Open Sans', sans-serif;
    color: #383838;
    text-decoration: none;
    font-size: 13px;
    padding-left: 10%;
    padding-top: 2.5%;
    padding-right: 10%;
    padding-bottom: 2.5%;
    text-align: center;
    line-height: 1.5em;
}

/* Start - styling the dropdown box for the Product field */


.order-form__product-dropdownTEST {
    position: absolute;
    display: inline-block;
    background-color: #ffffff;
    z-index: 2;
}


.order-form__product-dropdownTEST::before{
    position: absolute;
    content: '\25bc';
    color: #8b9e98;
    padding-top: 10px;
    padding-right: 15px;
    top: 0px;
    right: 10px;
    height: 20px;
    width: 20px;
    font-size: 30px;
}

.order-form__product-dropdownTEST .active,
.order-form__product-dropdownTEST:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #227755;
} 

.order-form__product-option-list{
    position: absolute;
    top: 100%;
    left: 0;
}

/* .order-form__product-option-list.hidden {
    max-height: 0;
    visibility: hidden;
}  */

.order-form__product-dropdown {
    width: 80%;
    height: 50px;
    border: 1px solid #8b9e98;
    border-radius: 7.5px;
    font-family: 'Open Sans', sans-serif;
    color: #383838;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .1em 2.5em .2em .5em;
    width: 15em;
    border: .2em solid #ffffff;;
} 

 .order-form__product-current-value {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
} 

 .order-form__product-input-containerTEST:after {
    content: U+25BC;
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    box-sizing: border-box;
    height: 100%;
    width: 2em;
    padding-top: .1em;
    border-left: .2em solid #000;
    border-radius: 0 .1em .1em 0;
    background-color: #000;
    color: #fff;
    text-align: center;
} 
 .order-form__product-option-list {
    z-index: 2;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 100%;
    max-height: 10em;
    overflow-y: auto;
    overflow-x: hidden;
    /* border: .2em solid #000;
    border-top-width: .1em; */
    border-radius: .4em .4em .4em .4em;
    /* box-shadow: 0 .2em .4em rgba(0,0,0,.4); */
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    color: #383838;
} 

.order-form__product-option {
    padding: .2em .3em;
}

.order-form__product-option .active,
.order-form__product-option:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #227755;
}



.order-form__product-option .highlight{
    background: #000;
    color: #ffffff;
}

.order-form__product-dropdown .highlight {
    background: #000;
    color: #ffffff;
} 

.products {
    height: 50px;
    border: 1px solid #8b9e98;
    border-radius: 7.5px;
    font-family: 'Open Sans', sans-serif;
    color: #383838;
    margin-bottom: 3px;
} 

.input-label {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: 100;
    font-size: .75em;
    display: block;
    padding-bottom: 10px;
}


.order-form__input {
    width: 80%;
    height: 50px;
    border: 1px solid #8b9e98;
    border-radius: 7.5px;
    font-family: 'Open Sans', sans-serif;
    color: #383838;
    margin-bottom: 3px;
}

.order-form__input .active 
.order-form__input:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #227755;
}

.order-form__product {
    width: 100%;
}

.noVisibility {
    visibility: hidden;
}



/* .order-form__button {
    float: right;
} */






@media only screen and (min-width: 600px) {
    .form-container {
        background-color: #8b9e98;
        width: 100%;
    }

    .order-form {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        display: inline-block;
        position: relative;

    }

    .order-form__customer-fields {
        width: 100%;
        height: auto;
        padding-bottom: 50px;
    }

    .order-form__order-fields {
        width: 100%;
        height: auto;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }



    .order-form__bi-column {
        width: 50%;
        display:inline-block;
    }

    .order-form__bi-column--left {
        float: left;
    }

    .order-form__bi-column--right {
        float: right;
    }

    .order-form__quad-column1, .order-form__quad-column3 {
        width: 50%;
        float: left;
        position: relative;
    }

    .order-form__quad-column2, .order-form__quad-column4 {
        width: 50%;
        float: right;
    }


    .order-form__last-name {
        float: right;
        margin-right: 13.33%;
    }
    .order-form__email, .order-form__dietary-options {
        margin-left: 13.33%;

    }

    .order-form__phone, .order-form__price {
        float: right;
    }

    .order-form__quantity {
        float: right;
        margin-right: 13.33%;
    }

    .input-label__last-name, .input-label__quantity {
        margin-left: 6.67%;
    }

    .input-label__email, .input-label__dietary-options {
        margin-left: 13.33%;
    }

    .input-label__phone, .input-label__price {
        margin-left: 20%;
    }

    .add-row-section {
        width: 100%;
        display: inline-block;
        line-height: 25px;
      }

    .add-row__button, .remove-row__button {
        background-color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: #383838;
        float: left;
        padding-left: 4px;
        padding-top: 0px;
        padding-right: 4px;
        padding-bottom: 0px;
        margin-right: 3px;
        border-radius: .2em;
        border-style: solid;
        border-color: #ffffff;
    }



    .add-row__button:hover,.remove-row__button:hover {
        background-color: #ce9a51;
    }

    .order-form__product-field--container {
        width: 80%;
        float: left;
        display: block;
    }

    .remove-row__section {
        width: 20%;
        float: right;
        display: block;
    }

    .remove-row__button {
        padding-left: 6px;
        padding-right: 6px;
        margin-left: 4px; 
        margin-top: 17px;
        margin-bottom: 17px;
    }



    /* .add-row-section__button:focus {
        background-color: #ce9a51;
    } */

    .add-row__button--text, .remove-row__button--text {
        float: left;
        padding-bottom: 0px;

    }


}