/*START - use to show containers*/

/* .browse-container {
    background-color: green;
}
.main-image-row {
    background-color: orange;
}
.site-explanation-container {
    background-color: lightblue;
}

.category-row {
    background-color: red;
}

.category-row__quad-column1 {
    background-color: blue;
}

.category-row__quad-column2 {
    background-color: green;
}

.category-row__quad-column3 {
    background-color: yellow;
}

.category-row__quad-column4 {
    background-color: purple;
}  */
 /*END - use to show containers*/


.main-image__label {
    background-color: #8b9e98;
    font-family: 'Indie Flower', cursive;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    width: 15%;
    float: right;
    margin-top: -74.5%;
    margin-right: 10%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;   
   }

.main-image__label--left {
    margin-right: 15%;
}
.category-image__label {
    background-color: #8b9e98;
    font-family: 'Indie Flower', cursive;
    color: #ffffff;
    text-align: center;
    text-decoration: none;    
    width: 30%;
    float: right;
    margin-top: -73.5%;
    margin-right: 10%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;   
   }

.category-image__label--one {
    margin-right: 15%;
}

.category-image__label--two {
    margin-right: 15%;
}

.site-explanation__text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #383838;
    text-decoration: none;
}


.browse-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}

.browse-heading {
    width: fit-content; 
    display: inline-block;
    color: #ce9a51;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    margin-left: 45%;
    margin-right: 45%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-top: 1px solid #ce9a51;
    border-bottom: 1px solid #ce9a51
}

.browse-heading--allCategories {
    margin-top: 50px;
}

@media only screen and (min-width: 600px) {


    
    
    .main-image-row {
        display: flex;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
   }

   .main-image-row__column{
       flex: 50%;
   }

    .main-image-row__column--left {
        float: left;
    } 

    .main-image-row__leftImage {
        width: 97.5%;
        margin-right: 2.5%;
    }

    .main-image-row__column--right {
        float: right;
        width: 50%;
    } 

    .main-image-row__rightImage {
        width: 97.5%;
        margin-left: 2.5%;
    }
    .site-explanation-container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .site-explanation__text{    
        padding-left: 10%;
        padding-top: 5%;
        padding-right: 10%;
        padding-bottom: 5%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        color: #383838;
        text-decoration: none;
        font-size: 13px;
        line-height: 1.5em;
    }


   .category-container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        display: inline-block;
        position: relative;
   }

   .category-row {
        width: 100%;
    }  
    
    .category__bi-column {
        width: 50%; 
        display: inline-block;
    }

    .category__bi-column1 {
        float: left; 
    }

    .category__bi-column2 {
        float: right; 
        }

    .category-row__quad-column1 {
        width: 50%;
        float: left;
    }

    .category-row__quad-column2 {
        width: 50%;
        float: right;
 
    }

    .category-row__quad-column3 {
        width: 50%;
        float: left;
 
    }

    .category-row__quad-column4 {
        width: 50%;
        float: right;
    }

    .category-image--2 {
        float: right;
        padding-right: 5%;
    }

    .category-image--3 {
        float: left;
        padding-left: 5%;
    }

    .category-image--4 {
        float: right;
    }

    .category-image {
       width: 92.496%;
   }

  


}