  /* These styles are required for the three states of the select widget.*/
  .order-form__product-select-container {
    position: relative;
    display : inline-block;
  }

  .order-form__product-select-container {
    position: relative;
    display : inline-block;
  }

  .order-form__product-select-container .order-form__product-option-list {
    position : absolute;
    top      : 100%;
    left     : 0;
  }

  .order-form__product-select-container .order-form__product-option-list.hidden {
    max-height: 0;
    visibility: hidden;
  }

  /*These styles make it pretty and look like a select*/
  .order-form__product-select-container {
    font-size   : 0.625em; 
    font-family : Verdana, Arial, sans-serif;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
    padding : .1em 2.5em .2em .5em; 
    width   : 10em; 
    border        : .2em solid #000; 
    border-radius : .4em; 
    box-shadow    : 0 .1em .2em rgba(0,0,0,.45); 
    background : #F0F0F0;
    background : -webkit-linear-gradient(90deg, #E3E3E3, #fcfcfc 50%, #f0f0f0);
    background : linear-gradient(0deg, #E3E3E3, #fcfcfc 50%, #f0f0f0);
  }
  
  .order-form__product-select-container .order-form__product-select--value {
    display  : inline-block;
    width    : 100%;
    overflow : hidden;
    vertical-align: top;
    white-space  : nowrap;
    text-overflow: ellipsis;
  }

  .order-form__product-select-container:after {
    content : "▼"; 
    position: absolute;
    z-index : 1; 
    top     : 0;
    right   : 0;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
    height  : 100%;
    width   : 2em;  
    padding-top : .1em; 
    border-left  : .2em solid #000; 
    border-radius: 0 .1em .1em 0;  
    background-color : #000;
    color : #FFF;
    text-align : center;
  }

  .order-form__product-select-container .order-form__product-option-list {
    z-index : 2; 
    list-style: none;
    margin : 0;
    padding: 0;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
    min-width : 100%;
    max-height: 10em; 
    overflow-y: auto;
    overflow-x: hidden;
    border: .2em solid #000; 
    border-top-width : .1em; 
    border-radius: 0 0 .4em .4em; 
    box-shadow: 0 .2em .4em rgba(0,0,0,.4); 
    background: #f0f0f0;
  }

  .order-form__product-select-container .order-form__product-option {
    padding: .2em .3em; 
  }
  
  .order-form__product-select-container .highlight {
    background: #000;
    color: #FFFFFF;
  }
