
body, 
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

img, embed, object, video {
    max-width: 100%;
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.general-heading {
    font-family: 'Indie Flower', cursive;
    color: #8b9e98;
    text-align: center;
    font-size: 50px;
}

.explanation-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.explanation-container__text {
    font-family: 'Open Sans', sans-serif;
    color: #383838;
    text-decoration: none;
    font-size: 24px;
    padding-left: 10%;
    padding-top: 2.5%;
    padding-right: 10%;
    padding-bottom: 2.5%;
    text-align: center;
    line-height: 1.5em;
}

.ingredients-container {
    width:90%;
    margin-right:5%;
    margin-left:5%;
    margin-bottom: 25px;
}

.column-left {
    width: 49%;
    float: left;
}

.column-right {
    width: 49%;
    float: right;
}

.spacer {
    clear: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-heading {
    font-family: 'Indie Flower', cursive;
    background-color: #8b9e98;
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}


td {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-wrap: break-word;
    border-bottom: 1px solid #8b9e98;
}

.table__key {
    padding-left: 20px;
    padding-right: 20px;
    min-width: 40px;
    font: bold;
}