/*container backgrounds*/
/*
.header {
    background-color: #ce9a51;
}

.logo-div {
    background-color: #8b9e98;
}
.logo-div__logo{
    background-color: bisque;
}
.header-buttons{
    background-color: aqua;
}
*/

body, 
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

img, embed, object, video {
    max-width: 100%;
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.search-container{
    width: 66%;
}

.search-icon {
    position: relative;
    float: right;
    margin: 8px;
    border: none;
    background-color: transparent;
    color: #898989;
    top: 50%;
    transform: translateY(-50%);
}

.nav-icon__container{
    width: 33%;
}

.nav-bar__icon {
    position: relative;
    float: right;
    margin: 8px;
    padding-right: .75em;
    border: none;
    background-color: transparent;
    color: #898989;
    top: 50%;
    transform: translateY(-50%);
}

#search-bar__container {
    width: 100%;
    background-color: #8e744f;
    display: block;
}

.search-input {
    width: 70%;
    height: 50px;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 5px;
    border: 1px solid #8b9e98;
    border-radius: 7.5px;
    font-family: 'Open Sans', sans-serif;
    color: #383838;
}


@media only screen and (max-width: 480px) {
    .header{
        display: flex;
        box-sizing: border-box;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .logo-div {
        width: 60%;
    }

    .logo-div__logo {
        width: 95%;
        float: left;
        margin-left: 25px;
    }

    .header-buttons {
        font-size: 24px;
        display: flex;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    #reusable-nav {
        width: 100%;
    }

    .nav-menu {
        width: 100%;
        background-color: #898989;
    }

    .close-container {
        width: 100%;
        display: block;
        border-bottom: 1px solid #8b9e98;
    }

    /* .close-icon {
        text-align: right;
        font-size: 48px;
        color: white;
        border: none;
        padding-right: .5em;
    } */

    .close-nav__icon {
        text-align: right;
        font-size: 48px;
        color: white;
        border: none;
        padding-right: .5em;
        width: 100%;
        background: #898989;
    }

    .close-search__icon {
        text-align: right;
        font-size: 48px;
        color: white;
        border: none;
        padding-right: .5em;
        float: right;
        line-height: 1.7;
        background-color: #8e744f;
    }

    .close-nav__icon:hover {
        color: #ce9a51;
    }

    .nav-menu__link {
        color: white;
        width: 100%;
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 24px;
        padding-top: .5em;
        padding-bottom: .5em;
        border-bottom: 1px solid #8b9e98;
    }

    .nav-menu__link:hover {
        color: #8b9e98;
    }
    
    .nav-menu__link:active {
        color: #ce9a51;
    }
    
    .nav-menu__link--currentPage {
        color: #ce9a51;
    }
    
    .disabled {
        pointer-events: none;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .header{
        display: flex;
        box-sizing: border-box;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .logo-div {
        width: 60%;
    }

    .logo-div__logo {
        width: 95%;
        float: left;
        margin-left: 25px;
    }

    .header-buttons {
        font-size: 24px;
        display: flex;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-container {
        width: 75%;
    }

    .nav-icon__container {
        width: 25%;
    }

    #reusable-nav {
        width: 75%;
        margin-left: 25%;
        /* float: right;  - this causes the close nav x on the nav to not work. why?*/
    }

    .nav-menu {
        width: 100%;
        background-color: #898989;
    }

    .close-container{
        width: 100%;
        display: block;
        border-bottom: 1px solid #8b9e98;
    }

    .close-nav__icon {
        text-align: right;
        font-size: 48px;
        color: white;
        border: none;
        padding-right: .5em;
        width: 100%;
        background: #898989;
    }

    .close-search__icon {
        text-align: right;
        font-size: 48px;
        color: white;
        border: none;
        padding-right: .5em;
        float: right;
        line-height: 1.7;
        background-color: #8e744f;
    }

    .close-nav__icon:hover {
        color: #ce9a51;
    }

    .nav-menu__link {
        color: white;
        width: 100%;
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 24px;
        padding-top: .5em;
        padding-bottom: .5em;
        border-bottom: 1px solid #8b9e98;
    }

    .nav-menu__link:hover {
        color: #8b9e98;
    }
    
    .nav-menu__link:active {
        color: #ce9a51;
    }
    
    .nav-menu__link--currentPage {
        color: #ce9a51;
    }
    
    .disabled {
        pointer-events: none;
    }

}

@media only screen and (min-width: 769px) and (max-width: 992px){
    .header{
        display: flex;
        box-sizing: border-box;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .logo-div {
        width: 75%;
    }

    .logo-div__logo {
        width: 75%;
        float: left;
        margin-left: 25px;
    }

    .header-buttons {
        font-size: 24px;
        display: flex;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
    }


    #reusable-nav {
        width: 33%;
        z-index: 99;
        position: relative;
        float: right;
    }

    .nav-menu {
        width: 100%;
        background-color: #898989;
    }

    .close-container{
        width: 100%;
        display: block;
        border-bottom: 1px solid #8b9e98;
    }

    .close-nav__icon {
        text-align: right;
        font-size: 48px;
        color: white;
        border: none;
        padding-right: .5em;
        width: 100%;
        background: #898989;
    }

    .close-search__icon {
        text-align: right;
        font-size: 48px;
        color: white;
        border: none;
        padding-right: .5em;
        float: right;
        line-height: 1.7;
        background-color: #8e744f;
    }

    /* .close-icon {
        text-align: right;
        font-size: 48px;
        color: white;
        border: none;
        padding-right: .5em;
    }

    .close-nav__icon {
        width: 100%;
        background: #898989;
    }

    .close-search__icon {
        float: right;
        line-height: 1.7;
        background-color: #8e744f;
    } */

    .nav-menu__link {
        color: white;
        width: 100%;
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 24px;
        padding-top: .5em;
        padding-bottom: .5em;
        border-bottom: 1px solid #8b9e98;
    }

    .nav-menu__link:hover, .nav-menu__link:active {
        color: #8b9e98;
    }
    
    /* .nav-menu__link:active {
        color: #ce9a51;
    } */
    
    .nav-menu__link--currentPage {
        color: #ce9a51;
    }
    
    .disabled {
        pointer-events: none;
    }

}

@media only screen and (min-width: 993px) and (max-width: 1200px){
    .header{
        display: flex;
        box-sizing: border-box;
        margin-top: 10px;
    }
    
    .logo-div {
        width: 100%;
        text-align: center;
    }

    .logo-div__logo {
        width: 25%;
        display: inline-block;
        padding: 30px;
    }

    .header-buttons {
        font-size: 24px;
        display: none;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
    } 

    .close-container{
        width: 100%;
        display: none;
        border-bottom: 1px solid #8b9e98;
    }

    .nav-menu {
        text-align: center;
    }

    .nav-menu__link {
        font-family: 'Open Sans', sans-serif;
        color: #383838;
        text-decoration: none;
        font-weight: 700;
        font-size: 13px;
    }

    .nav-menu__link--currentPage {
        color: #ce9a51;
    }

    .nav-menu__link {
        display: inline-block;
        padding: 30px;
    }

    .nav-menu__link:hover {
        color: #8b9e98;
    }
    
    .nav-menu__link:active {
        color: #ce9a51;
    }
    
    .nav-menu__link--currentPage {
        color: #ce9a51;
    }
    
    .disabled {
        pointer-events: none;
    }

    .reusable-nav {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
    }

    .nav-bar {
        width: 100%;
    }

    /*start - to get line to show on either side of nav  - start */
   
    .nav-menu {
        position: relative;
        font-size: 100%;
        z-index: 1;
        overflow: hidden;
        text-align: center;
    }
    .nav-menu:before, .nav-menu:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 50%;
        height: 1px;
        content: '\a0';
        background-color: #8b9e98;
    }
    .nav-menu:before {
        /*this moves the nav line farther to the left of the Home link.
        50 makes the left and right lines equidistant from their nearest links. 
        Doing the reverse on the right does not have the same effect.
        TO DO: Find a way to add 5% more to each side*/
        margin-left: -50%;
        text-align: right;
    }
    /*This does not work
    .nav-menu:after {
        margin-right: -55%;
        text-align: left;
    }*/

    /*start - to get line to show on either side of nav  - start */

    .nav-menu__link {
        font-family: 'Open Sans', sans-serif;
        color: #383838;
        text-decoration: none;
        font-weight: 700;
        font-size: 13px;
    }



    .nav-menu__link:hover {
        color: #8b9e98;
    }
    
    .nav-menu__link:active {
        color: #ce9a51;
    }
    
    .nav-menu__link--currentPage {
        color: #ce9a51;
    }
    
    .disabled {
        pointer-events: none;
    }
}

@media only screen and (min-width: 1201px){
    .header{
        display: flex;
        box-sizing: border-box;
        margin-top: 10px;
    }
    
    .logo-div {
        width: 100%;
        text-align: center;
    }

    .logo-div__logo {
        width: 25%;
        display: inline-block;
        padding: 30px;
    }

    .header-buttons {
        font-size: 24px;
        display: none;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
    } 

    .search-container {
        width: 75%;
    }

    .nav-icon__container {
        width: 25%;
    } 

    .close-container{
        width: 100%;
        display: none;
        border-bottom: 1px solid #8b9e98;
    }

    .nav-menu {
        text-align: center;
    }

    .nav-menu__link--currentPage {
        color: #ce9a51;
    }

    .nav-menu__link {
        display: inline-block;
        padding: 30px;
    }

    .reusable-nav {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
    }

    .nav-bar {
        width: 100%;
    }

    /*big grouping - start - to get line to show on either side of nav  - start */
   
    .nav-menu {
        position: relative;
        font-size: 100%;
        z-index: 1;
        overflow: hidden;
        text-align: center;
    }
    .nav-menu:before, .nav-menu:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 50%;
        height: 1px;
        content: '\a0';
        background-color: #8b9e98;
    }
    .nav-menu:before {
        /*this moves the nav line farther to the left of the Home link.
        50 makes the left and right lines equidistant from their nearest links. 
        Doing the reverse on the right does not have the same effect.
        TO DO: Find a way to add 5% more to each side*/
        margin-left: -50%;
        text-align: right;
    }

    .nav-menu__link {
        font-family: 'Open Sans', sans-serif;
        color: #383838;
        text-decoration: none;
        font-weight: 700;
        font-size: 13px;
    }

    /*This does not work
    .nav-menu:after {
        margin-right: -55%;
        text-align: left;
    }*/

    .nav-menu__link:hover {
        color: #8b9e98;
    }
    
    .nav-menu__link:active {
        color: #ce9a51;
    }
    
    .nav-menu__link--currentPage {
        color: #ce9a51;
    }
    
    .disabled {
        pointer-events: none;
    }

}



